.cabecalho{
    width: 100%;
    background-color: #0d6efd;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cavecalho--itens{
    display: inline-block
}

img{
    display: inline-block;
    height: 80px;
}

.alinhaFooter{
    margin-top: 70px;
    background-color: #0d6efd;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itensFooter{
    display: inline-block;
    margin: 0;
    color: white;
    font-size: larger;
}

/*Área de boas-vindas*/
.logoWelc{
    /* display: inline-block; */
    height: 500px; 
    padding: 100px;
    /* width: 25%; */
}

.h2Welc{
   font-size: 4em;
   color: white;
}

.txtWelc{
    font-size: 2em;
    color: white;
    margin-bottom: 100px;
}

.welc{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
}